<style>
</style>

<main class="main">
    <p-toolbar>
        <ng-template #start>
            <div class="toolbar">
                <img class="logo" src="/logo.svg" alt="">
                <i class="pi pi-bars" style="font-size: 2rem"></i>
            </div>
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search"/>
                <input type="text" pInputText placeholder="Search"/>
            </p-iconfield>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                          [style]="{ width: '32px', height: '32px' }"/>
            </div>
        </ng-template>
    </p-toolbar>
    <div class="kanban-board" cdkDropListGroup>
        @for (column of this.kanbanService.columns(); track column.id) {
            <app-kanban-column cdkDropList [cdkDropListData]="column" (cdkDropListDropped)="drop($event)"
                               [column]="column" (cardAdded)="handleAddCard(column)"/>
        }
        <app-kanban-column (columnAdded)="handleAddColumn()"/>
    </div>
    <app-kanban-card-modal/>

</main>

<router-outlet/>
