<style>
</style>

<main class="main">
    <p-toolbar>
        <ng-template #start>
            <div class="toolbar">
                <img class="logo" src="/logo.svg" alt="">
                <i class="pi pi-bars" style="font-size: 2rem" (click)="displayDrawer = true"></i>
                @let currentBoard = this.boardService.currentBoard();
                @if (currentBoard) {
                    <span class="text-lg font-semibold">{{ currentBoard.label }}</span>
                }
            </div>
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search"/>
                <input type="text" pInputText placeholder="Search" [ngModel]="searchQuery"
                       (ngModelChange)="this.kanbanService.filterColumns($event)"
                />
            </p-iconfield>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                          [style]="{ width: '32px', height: '32px' }"/>
            </div>
        </ng-template>
    </p-toolbar>

    <div class="kanban-board" cdkDropListGroup>
        @for (column of this.kanbanService.columns(); track column.id) {
            <app-kanban-column cdkDropList [cdkDropListData]="column" (cdkDropListDropped)="drop($event)"
                               [column]="column" (cardAdded)="handleAddCard(column)"/>
        }
        <app-kanban-column (columnAdded)="handleAddColumn()"/>
    </div>
    <app-kanban-card-modal/>

    <p-drawer [(visible)]="displayDrawer" header="Boards">
        <p-panelmenu [model]="this.boardService.boards()" styleClass="w-full md:w-20rem">
            <ng-template #item let-item>
                <a (click)="this.boardService.selectCurrentBoard(item.id)" pRipple class="flex items-center px-4 py-2 cursor-pointer group">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>

        </p-panelmenu>
        <p-button label="Add Board" icon="pi pi-plus" (click)="this.boardService.addBoard()"></p-button>
    </p-drawer>

</main>

<router-outlet/>
