<p-drawer [(visible)]="displayDrawer" header="Boards">
    <p-panelmenu [model]="this.boardService.boards()" styleClass="w-full md:w-20rem">
        <ng-template #item let-item>
            <a (click)="this.boardService.selectCurrentBoard(item.id)" pRipple class="flex items-center px-4 py-2 cursor-pointer group">
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
    </p-panelmenu>
    <p-button label="Add Board" icon="pi pi-plus" (click)="this.boardService.addBoard()"></p-button>
</p-drawer>
