<p-drawer [(visible)]="displayDrawer" (onHide)="closeDrawer()" closable="false">
    <ng-template #header>
        <h2 class="sidebar-header">Boards <i class="pi pi-plus-circle" (click)="this.boardService.addBoard()"></i></h2>
    </ng-template>

    @let boards = this.boardService.boards();
    <div class="board-menu">
        @for (item of boards; track item.id) {
            <div class="board-menu-item" [ngClass]="{ 'active': item.id === this.boardService.currentBoard()?.id }">
                <a (click)="this.boardService.selectCurrentBoard(item.id)">
                    <span class="color-span" [style.background-color]="item.color"></span>
                    {{ item.label }}
                </a>
                <i class="pi pi-ellipsis-h" (click)="op.toggle($event)"></i>
            </div>
            <p-popover #op>
                <div class="popover-menu">
                    <a (click)="openEditBoard(item)">
                        <i class="pi pi-pencil"></i>
                        <span>Edit</span>
                    </a>
                    <a (click)="confirmDelete(item)">
                        <i class="pi pi-trash"></i>
                        <span>Delete</span>
                    </a>
                </div>
            </p-popover>
        }
    </div>

    <p-dialog header="Header" [(visible)]="visibleEditBoardDialog" [modal]="true" [draggable]="false" appendTo="body">
        <form class="board-form" [formGroup]="boardForm">
            <input placeholder="Title" pInputText type="text" formControlName="label">
            <input placeholder="Url" pInputText type="text" formControlName="url">
            <p-colorpicker formControlName="color" />
            <div class="controls">
                <p-button label="Cancel" severity="secondary" (click)="visibleEditBoardDialog = false"/>
                <p-button label="Save" (click)="saveBoard()"/>
            </div>
        </form>
    </p-dialog>

    <p-confirm-dialog message="Are you sure you want to proceed?" header="Confirmation" icon="pi pi-exclamation-triangle" />
</p-drawer>
