body {
  background-color: color-mix(in srgb,var(--p-surface-50) calc(100% * var(--tw-bg-opacity, 1)),transparent)
}

.kanban-board {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
