@import "primeicons/primeicons.css";
body {
  background-color: color-mix(in srgb, var(--p-surface-50) calc(100% * var(--tw-bg-opacity, 1)), transparent)
}

.kanban-board {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
  overflow-x: scroll;
  gap: 20px;
}
